Exercise 2: Create markdown cell with title of the notebook

Exercise 3 - Create a markdown cell for an introduction
# Hello team, my name is Sampson Somah,

Exercise 10 - Insert a markdown cell to list Objectives

**Objectives**
# take away from the course
# list of string
Course_list = [ API Libraries, data integration and transformation tools, data visualization tools, model deployment tools, data management tools]

Exercise 4 - Create a markdown cell to list data science languages

# Some of the popular languages that Data Scientists use are: Python, Java , R

 Exercise 5 - Create a markdown cell to list data science libraries
 # Some of the commonly used libraries used by Data Scientists include: Pandas , Numpy , Matplotlib

In [ ]:
#Exercise 6 - Create a markdown cell with a table of Data Science tools

| Data Science Tools |
 --------------------
| IBM Watson Studio |
| IBM Watson Open Source |
| IBM Watson Machine Learning |

In [ ]:
Exercise 7 - Create a markdown cell introducing arithmetic expression examples
# Addition
Result_add = 3+3
print(Result_add)

In [26]:
#Exercise 8 - Create a code cell to multiply and add numbers
# Multiplication and addition

Results_mul_add = (3 * 4) +5
print(Results_mul_add)

17

In [1]:
#Exercise 9 - Create a code cell to convert minutes to hours
# converting 200 mins to hrs
Results_div = 200/60
print(Results_div)

3.3333333333333335

In [ ]:
Exercise 11 - Create a markdown cell to indicate the Author's name
##  Lakshmi Holla,  Niveditha Pandith
Sampson Somah